PuntodeVenta_Cliente/PageHome/Connected Services/WSPC/WSPanelControl.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserNew">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Users" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserNewResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UserNewResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdaterNew">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Users" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdaterNewResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdaterNewResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="UserNewSoapIn">
    <wsdl:part name="parameters" element="tns:UserNew" />
  </wsdl:message>
  <wsdl:message name="UserNewSoapOut">
    <wsdl:part name="parameters" element="tns:UserNewResponse" />
  </wsdl:message>
  <wsdl:message name="UpdaterNewSoapIn">
    <wsdl:part name="parameters" element="tns:UpdaterNew" />
  </wsdl:message>
  <wsdl:message name="UpdaterNewSoapOut">
    <wsdl:part name="parameters" element="tns:UpdaterNewResponse" />
  </wsdl:message>
  <wsdl:portType name="WSPanelControlSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserNew">
      <wsdl:input message="tns:UserNewSoapIn" />
      <wsdl:output message="tns:UserNewSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdaterNew">
      <wsdl:input message="tns:UpdaterNewSoapIn" />
      <wsdl:output message="tns:UpdaterNewSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSPanelControlSoap" type="tns:WSPanelControlSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserNew">
      <soap:operation soapAction="http://tempuri.org/UserNew" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdaterNew">
      <soap:operation soapAction="http://tempuri.org/UpdaterNew" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSPanelControlSoap12" type="tns:WSPanelControlSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserNew">
      <soap12:operation soapAction="http://tempuri.org/UserNew" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdaterNew">
      <soap12:operation soapAction="http://tempuri.org/UpdaterNew" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSPanelControl">
    <wsdl:port name="WSPanelControlSoap" binding="tns:WSPanelControlSoap">
      <soap:address location="https://localhost:44387/WSPanelControl.asmx" />
    </wsdl:port>
    <wsdl:port name="WSPanelControlSoap12" binding="tns:WSPanelControlSoap12">
      <soap12:address location="https://localhost:44387/WSPanelControl.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>